.lend .remove
{
	display: none;
}

.lend:hover .remove
{
	display: inline;
}

.lend .edit-form
{
	display: none;
}

.lend .edit-form.editing
{
	display: block;
}

.lend .remove.no-ninja
{
	display: inline;
}

.lend
{
	line-height: 30px;
}