<div>
	<div>
		<h3>Twiltt in da mix</h3>
	</div>

	<div>
		<form ng-submit="addLend()" class="form-inline">
			<input type="text" ng-model="lendText" placeholder="A thing" required>
			<input type="text" ng-model="lendWho" placeholder="To Whom ?" required>
			<button class="btn btn-primary"><i class="icon-plus"></i>Add</button>
		</form>

		<ul class="unstyled">
			<li ng-repeat="lend in lends" class="lend" ng-cloack ng-dblclick="editLend(lend)">
				<div>
					<div>
						{{lend.text}} to <b>{{lend.who}}</b>
						<button ng-click="deleteLend(lend)" class="btn remove" ng-class="{'no-ninja': lend == editedLend}"><i class="icon-remove"></i></button>
					</div>
				</div>

				<form ng-submit="dismissEditForm()" class="form-horizontal edit-form" ng-class="{editing: lend == editedLend}">
					<input type="text" ng-model="lend.text" required>
					<input type="text" ng-model="lend.who" required>
					<button class="btn"><i class="icon-ban-circle"></i></button>
				</form>
			</li>
		</ul>

	</div>

</div>