<!doctype html>
<html ng-app="twiltt">
	<head>
		<title>TWILTT: Home</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	
	<body>
		<h2>TWILTT: The best thing to remember where is your stuff</h2>

		<div ng-controller="TwilttCtrl">
			<ul class="unstyled">
				<li ng-repeat="lend in lends">{{lend.text}} to <b>{{lend.who}}</b></li>
			</ul>

			<form ng-submit="addLend()" class="form-horizontal">
				<input type="text" ng-model="lendText" placeholder="add a new lend">
				<input type="text" ng-model="lendWho" placeholder="to whom?">
				<button class="btn"><i class="icon-plus"></i>Add</button>
			</form>

		</div>
	
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/twilttApp.js"></script>
	<script type="text/javascript" src="js/twilttController.js"></script>
	<script type="text/javascript" src="js/twilttStorage.js"></script>
	
	</body>
</html>